/*!
 * Chiefu
 * Copyright 2013-2019 Start Bootstrap
 */
body {
  background: url('img/bg-masthead.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
